$body-bg: #fbfbfb;
$font-family-sans-serif: Lato, sans-serif;
$font-family-serif: Georgia, serif;
$font-size-base: 16px;

$headings-font-family: 'Source Sans Pro', sans-serif;

$border-radius-base: 0;
$border-radius-large: 0;
$image-base: '../img';

$brand-primary: #EF7C00;
$brand-secondary: #3B4FAD;
$btn-primary-color: #fff;

$brand-fsc: #E34E4E;
$brand-fow: #0091BE;
$brand-rag: #72BF52;
$brand-bash: #FCB81B;

$home-bg: rgba(0, 0, 0, 0.7);
$body-bg: #f9f9f9;

$blockquote-border-color: 0;