a.btn.btn-primary.btn-lg(href='https://www.facebook.com/SoCFOP/',target='_blank')
  | Connect With Us on Facebook
a.btn.btn-primary.btn-lg(href='https://mysurvey.nus.edu.sg/EFM/se.ashx?s=54CCD14B2078EA2B',target='_blank')
  | Join Our Mailing List