nav.global, footer.global {
  ul, ol {
    list-style: none;
  }
}

nav.global {
  // background:-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
  // background: rgba(0, 0, 0, .8);
  z-index: 500;
  position: fixed;
  top: 20px;
  left: 20px;
  background: $home-bg;
  white-space: nowrap;
  color: #fff;
  
  transition: background .3s;
  
  @media (max-width: 500px) {
    transform: scale(.75);
    transform-origin: 0 0;
  }
  
  ul.nav {
    display: flex;
    padding: 0;
    margin: 0;
    
    li {
      flex: 1 1 auto;
      display: flex;
      align-items: center;

      &:last-of-type a {
        height: auto;
        margin: 12px 0;
      }
    }
    
    a {
      padding: 24px 24px;
      width: 100%;
      
      font-size: 20px;
      line-height: 1;
    }
    
    abbr {
      border: 0;
      text-decoration: none;
      cursor: inherit;
    }
  }
  
  .btn.btn-white {
    color: rgba(#fff, .9);
    
    &:hover, &:active {
      color: $brand-primary;
    }
  }
  
  .full-only {
    display: none;
    float: right;
  }
  
  .menu-btn, .show-menu {
    font-size: 32px;
    background: none;

    &.activated, &:hover {
      color: $brand-primary;
    }
  }

  .menu-btn {
    display: none;
    
    float: right;
    margin: -8px;
    padding: 30px 40px;
  }
  
  .show-menu {
    padding: 30px 12px;
    margin-top: -16px;
    line-height: 1;
    
    .label {
      display: inline-block;
      font-size: 20px;
      width: 0;
      height: 24px;
      vertical-align: baseline;
      
      transition: .3s width;
      overflow: hidden;
    }
    
    &:hover {
      .label {
        width: 105px;
      }
    }
  }
  
  &.full {
    top: 0;
    left: 0;
    right: 0;
    
    padding: 12px;
    background: rgba(0, 0, 0, 0.9);
    white-space: normal;

    h1 {
      height: 85px;
      padding-top: 20px;
      padding-left: 100px;
      font-size: 38px;
      position: absolute;
    }

    .full-only {
      display: block;
    }
    
    .show-menu {
      display: none;
    }
    
    @media (max-width: 1040px) {
      padding: 0 12px;
      
      .full-only {
        width: 100%;
        float: none;
        display: none;
        clear: both;
        border-top: 1px solid rgba(255, 255, 255, .6);
        
        &.active {
          display: block;
        }
      }

      .menu-btn {
        display: block;
      }
      
      ul.nav {
        flex-wrap: wrap;
      }
    }
    
    @media (max-width: 500px) {
      text-align: center;
      transform: scale(1);

      h1 {
        height: 60px;
        padding: 5px 0 0 90px;
        background-size: auto 100%;

        &:before {
          background-size: auto 100%;
        }
      }
      
      .menu-btn {
        padding: 15px 20px;
      }
    }
  }

  h1 {
    $h: 120px;
    
    display: inline-block;
    height: $h;
    padding: ($h - 54px) / 2 20px 0 $h;
    margin: 0;
    position: relative;
    
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    
    transition: all .3s;
    background: url('#{$image-base}/logo-white.png') left 20px center / auto 80% no-repeat;
    
    &:before {
      content: '';
      position: absolute;
      
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      
      background: url('#{$image-base}/logo.png') left 20px center / auto 80% no-repeat;
      transition: opacity .3s;
      opacity: 0;
    }
    
    &:hover:before {
      opacity: 1;
    }
    
    span {
      transition-duration: .3s;
      transition-property: top, bottom, width, padding;
      display: inline-block;
    }
    
    span.word {
      top: 0;
      position: relative;
    }
    
    span.letters {
      position: absolute;
      font-weight: 400;
      font-size: 28px;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      bottom: 2px;
    }

    @media (min-width: 500px) {
      &:hover {
        span.letters {
          width: 160px;
        }

        span.word-f {
          top: -42%;
        }

        span.word-p {
          top: 45%;
        }

        span.year {
          padding-left: 100px;
        }
      }
    }
    
    span.year {
      font-weight: 200;
    }
  }
}