extends ../layout/events

prepend vars
  - var event = 'Bash'

block heading
  p.aspect
    span Celebrate 
  h1.big Bash 
  p.date 12 August

block description
  p
    | The long awaited annual Bash is finally back! Enjoy a night of 
    | fun-filled performances by the pageant candidates and a last opportunity 
    | to mingle with your fellow seniors and future course mates. Join 
    | in on the fun and games, and party the night away with the 
    | newly crowned Mr and Ms SOC.

block main
  .testimonial
    blockquote
      | Bash was an interesting experience where I saw my friends go on stage to 
      | perform and vie for the position of Mr and Miss SoC. The after party was 
      | just as awesome, everyone danced all night in the club! 
      | Bash is a definite must-go before the school semester starts 
    figcaption Victor Hazali, Year 3 CS student
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash2.jpg' + ')' })
      .caption.right
        figcaption
          | Our pageants singing their lungs out onstage for their final performance. 
          | Pageants get to showcase their talents for this segment to wow their fellow 
          | course mates on this special night.
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash8.jpg' + ')' })
      .caption
        figcaption
          | Our very own in house DJ playing up the numbers for the house! 
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash4.jpg' + ')'})
      .caption
        figcaption
          | Other than performing, our pageants will also go through a series of spontaneous 
          | Q&A and fun activities with our hosts for the night. Get to know more about the 
          | finalists while you party the night away!
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/bash/bash6.jpg' + ')'})
      .caption
        figcaption
          | At the end of Bash, we will crown Mr and Miss SoC with the help of our judges 
          | and the crowd’s votes. 
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/bash/bash7.jpg' + ')'})
      .caption
        figcaption
          | After the crowning of Mr and Miss SoC, the event will have officially ended. 
          | But that is not the end of the night - party away with free re-entrance 
          | with your fellow coursemates and seniors at the after party!
    

