extends ../layout/events

prepend vars
  - var event = 'Bash'

block heading
  p.aspect
    span Celebrate 
  h1.big Bash 
  p.date 12 August

block description
  p
    | The long awaited annual Bash is finally back! Enjoy a night of 
    | fun-filled performances by the pageant candidates and a last opportunity 
    | to mingle with your fellow seniors and future course mates. Join 
    | in on the fun and games, and party the night away with the 
    | newly crowned Mr and Ms SOC.

block main
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash1.jpg' + ')' })
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash2.jpg' + ')' })
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash3.jpg' + ')' })
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/bash/bash4.jpg' + ')'})

