extends ../layout/events

prepend vars
  - var event = 'Freshman Orientation Week'

block heading
  p.aspect
    span Orientate
  h1 Freshmen Orientation Week
  p.date 24-27 July

block description
  p
    | Scared of becoming a geek in SoC? Scared of not becoming a geek in SoC?
  p
    | No matter what excuse you have, join us at School of Computing (SoC) 
    | Freshmen Orientation Week (FOW)! 4D3N of fun that allows you to meet your 
    | course mates and seniors, who will become crucial to your SoC life. On 
    | top of that, gain a headstart in SoC by getting advices from friendly 
    | seniors and immerse in the epic experience of One big SoC Family! 
  p
    | Before the school starts, let’s have fun.


block main
  figure.testimonial
    blockquote
      | My FOW experience was great! Had lots of fun with the activities 
      | and it was good being able to get advice from my seniors 
      | before school starts
    figcaption Jun Kiat, Year 1 CS student
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow1.jpg' + ')' })
      .caption
        figcaption
          | Be introduced to our fun-loving OGLs at the start of the camp with a spectacular 
          | walk-in performance. We have specially picked out the best OGLs that will give you 
          | the most amazing camp experience, and also to provide you with advice regarding 
          | your course requirements and modules planning!
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/fow/fow5.jpg' + ')'})
      .caption
        figcaption
          | Beach days at FOW are no ordinary beach days that you go for in all your other 
          | camps. Our committee members work their very best to ensure that freshmen 
          | get the most unique Beach day experience. Here’s a peek at what our freshmen 
          | went through last year - a good ol’ game of Four Way Tug of War! We’ll leave 
          | it to you to find out what we have in store for you this year 
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow2.jpg' + ')' })
      .caption
        figcaption
          | Besides being the best OGLs ever, they sometimes like to play a little makeover 
          | game with sunblock too… 

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow3.jpg' + ')' })
      .caption
        figcaption
          | If you haven’t gotten a chance to bury one of your friends in sand, our 
          | beach day will be the perfect opportunity for you. Just kidding. Or are we?
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow4.jpg' + ')' })
      .caption.right
        figcaption
          | Still not convinced that we have the best games ever? 
          | Here’s a peek at our Sports Day last year, with a wet twist.
        
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fow/fow6.jpg' + ')'})
      .caption.right
        figcaption
          | A huge camp photo at Sentosa, with house flags painted by your very own OGLs!
          
    