extends ../layout/events

prepend vars
  - var event = 'Freshman Social Camp'

block heading
  p.aspect
    span Socialize
  h1 Freshmen Social Camp
  p.date 11-14 June
    
    
block description
  p
    | Wet games! Beach day! Sleepovers! Want to get a close circle of university friends before
    | university even starts? Longing to be a part of a close knit community but don’t know where to
    | start? Then FSC is the event for you! Meet freshmen and seniors from all the SoC majors
    | through 4 days of exciting activities! Share moments with one another, create precious
    | memories together and indulge yourself in fun and laughter. All fun, no academics!

block main
  figure.testimonial
    blockquote
      | It was the best camp among all the camps that I went before. Meeting my seniors and new
      | friends and having fun together.
    figcaption Chase Tiong
  section.gallery
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/fsc1.jpg' + ')' })
      div.caption
        figcaption
          | Freshmen enjoying a station game. Station games are not just boring old station 
          | games here at FSC. We have picked out the most fun games that we ourselves have 
          | played, so you can be sure that you will enjoy the games planned out for you.
    
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/fsc/fsc4.jpg' + ')'})
      div.caption.right
        figcaption
          | At FSC, freshmen will be introduced to our Rag and Flag family. If you don’t 
          | know what exactly we do at Rag or what this year’s theme is, be sure not to 
          | miss FSC! Our Rag family is extremely bonded and fun-loving; this will be a 
          | great step towards joining us in our amazing journey.

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/fsc2.jpg' + ')' })
      div.caption
        figcaption
          | The most exciting day of our FSC is probably Beach Day, on the third day of the 
          | camp. This year, we have gathered the most exciting beach games for you to have a 
          | little fun under the sun. Be sure to bring some sunblock to keep the rays out!
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/fsc/fsc3.jpg' + ')' })
      div.caption.right
        figcaption
          | How can a great camp not end with a bang? Here are our OGLs putting up a 
          | swag performance for the freshmen after a fantastic 4D3N camp last year. 
          | Look forward to pageant performances, house performances, and a special committee 
          | performance after four days of fun.
          

    
    