extends ../layout/master

block vars
  - var title = 'Freshmen Orientation Project 2016 | NUS Computing';
  - var bodyClass = 'index';
  - var description = 'NUS School of Computing Freshmen Orientation Projects presents Virtutem Quattor. Join us to experience a summer like never before!'; 
    
block header
  div.hero
    div.content
      h1
        | Four Events.
        br
        | One Unforgettable Summer.
      div.call
        include ../components/call-to-action

block main
  .block-text.intro
    p
      | Are you an incoming freshman who wants to find out more about the school? Or do you simply
      | want to make some friends and have fun?
    p
      | NUS Computing Freshmen Orientation Projects (FOP) 2016 presents to you 
      em Virtutem Quattuor. 
      | With an exciting lineup of events, we will help you integrate into our Computing family in no time. At
      | FOP, not only do you get the opportunity to meet other incoming freshmen, you will also meet
      | seniors who will provide valuable advice to follow you through your University years. Join us
      | this summer for the best freshmen experience you’ll ever have!

  .projects
    .project-row
      a(href=url('fsc')).project.fsc
        p.aspect 
          span Socialize
        h2 Freshmen Social Camp
        p.date 11-14 June
        
        .description
          p 
            | Socialise in the summer holidays! Meet new friends from SoC 
            | before University starts!

      a(href=url('fow')).project.fow
        p.aspect 
          span Orientate
        h2 Freshmen Orientation Week
        p.date 24-27 July
        
        .description
          p 
            | Orientate yourself! Get more familiar with the school 
            | environment and find out more about school life!


    .project-row
      a(href=url('rag-flag')).project.rag
        p.aspect 
          span Bond
        h2 
          | RAG 
          span.amp & 
          | FLAG 
        
        p.date May-August
        
        .description
          p 
            | Bond together as one SoC family! Construct magnificent 
            | floats and dance together to show our SoC spirit!
            
          
      a(href=url('bash')).project.bash
        p.aspect 
          span Celebrate 
        h2 BASH 
        p.date 12 August
        
        .description
          p 
            | Celebrate the end of Orientation with a blast! Join us 
            | to crown the next Mr and Ms SoC!
  
  .timeline-container
    .timeline
      header
        h2 Timeline of events
      
      h3 June
      p.event
        strong 11-14 
        | Freshmen Social Camp (FSC)
      p.event
        strong 17 
        | RAG Induction
      
      h3 July
      p.event
        strong 11, 12, 14 
        | Programming Refresher Workshop for Poly students
      p.event
        strong 13 
        | Qualifying English Test (QET)
      p.event
        strong 18 
        | Academic Day
      p.event
        strong 19, 20, 22  
        | Introduction to Programming Workshop for JC students
      p.event
        strong 24 - 27 
        | Freshmen Orientation Week (FOW)
      
      h3 August
      p.event
        strong 1 
        | Freshmen Inauguration Ceremony (FIC)
      p.event
        strong 2 
        | Flag Day
      p.event
        strong 6 
        | RAG Day
      p.event 
        strong 12 
        | Bash