extends ../layout/events

prepend vars
  - var event = 'RAG & FLAG'; 

block heading
  p.aspect 
    span Bond
  h1.big 
    | RAG 
  p.date May-August
  
block description
  p
    | RAG is one of the biggest freshmen orientation events held by NUSSU, providing a 
    | stage to showcase the creativity and talent of students from individual faculties. 
    | This is our way of showing appreciation to our sponsors and the public who have 
    | donated generously to us. Raggers, as we call ourselves, consists of floaters 
    | who work on incredible float designs, dancers who stage jaw-dropping performances, 
    | make-up artists who create our image and costume designers who make us shine. 
  p
    | We raggers are a family; freshmen to alumni, we’re constantly growing. Raggers form 
    | strong friendships and unforgettable experiences that last throughout their 
    | undergraduate years. Be a part of our family today!

block main
  .flag.hero
    .heading
      p.aspect
        span Volunteer
      h1.big
        | FLAG
      p.date August
    
    .description
      p
        | Other than the exciting preparations for RAG day, there will also be a chance for 
        | you to give back to the society by joining our FLAG events. We will be going 
        | down to our beneficiary’s, MINDSville@Napiri for a fulfilling day of 
        | interaction with their residents through fun activities. On top of that, 
        | join us on our quest to give back to society by raising funds for 
        | MINDSville@Napiri on FLAG day, which will be happening on the 2nd of August!
    .and &
  
  figure.testimonial
    blockquote
      | RAG is an amazing opportunity to try something different, to learn something new. 
      | You can learn new moves with dance, or let your creativity run free with float 
      | and costumes. You don’t even have to have prior experience, just come down and 
      | you’ll be taught everything you need to know. 
    figcaption Matt C., Year 1 CS student
  section.gallery
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/rag/rag4.jpg' + ')'})
      .caption.right
        figcaption
          | At Rag, we make dreams come true. If you have ever dreamt about being part of a 
          | team who builds something magnificent, Rag is the place for you. Join us floaters 
          | in building the most amazing structures you have only dreamed of, and have a say 
          | in what SoC should build this year.
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/rag/rag1.jpg' + ')' })
      .caption
        figcaption
          | Rag is not just about choosing to be in Float, Dance, Makeup or Costumes. 
          | Our Raggers come together to put up their very best performance regardless of 
          | which team they belong to! Here’s our head makeup artist last year painting a 
          | happy dancer’s face before the big day.
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/rag/rag2.jpg' + ')' })
      .caption.right
        figcaption
          | You don’t have to be a girl to dance. We have plenty of guys who join Rag as dancers 
          | with NO prior experience. Be assured that we have the most talented and patient 
          | choreographers waiting to introduce you to the swag that is dance. Girls, we 
          | want you too!
    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/rag/rag5.jpg' + ')'})
      .caption
        figcaption
          | In light of the spirit of Rag, our costumes over the past few years have always 
          | been hand-made by our very own Costumes team. If you are creative and want to 
          | do a little handiwork, join our Costumes team in dressing up our dancers for 
          | the big day!

    figure
      div.img(style={ 'background-image': 'url(' + baseUrl + 'img/flag/flag1.jpg' + ')' })
      .caption
        figcaption
          | Rag and Flag isn’t complete without our Flag component. This year, we will be 
          | planning a lineup of activities and games for our residents at Fernvale Gardens School.  
          | Join us in this meaningful day as we give back to the society. We will also be 
          | having a Flag day in August for you to do a little something for our beneficiary.
    
    figure
      div.img(style={'background-image': 'url(' + baseUrl + 'img/rag/rag6.jpg' + ')'})
      .caption
        figcaption
          | A very last group photo at Rag, but definitely not the last of our friendships. 
          | After a summer of having supper together, training, and more supper, be sure 
          | that you will make friendships that last beyond your university life. Be part 
          | of our Rag family today!